<p-panelMenu [model]="items"></p-panelMenu>
<!-- Uncomment below html if you want to use build product-category(ex:Books,Coffee Mugs etc in side bar) using normal html and you want to add more customizations and uncomment neccessary commented subscription.push in ngOnInit of this html component  -->
<!-- <ul class="space-y-4 w-full">
  <li
    *ngFor="let tempProductCategory of productCategory"
    class="list-none w-full"
  >
    <a
      routerLink="/category/{{ tempProductCategory.id }}"
      class="product-category"
      routerLinkActive="router-link-active"
      >{{ tempProductCategory.categoryName }}</a
    >
  </li>
</ul> -->
