.product-category {
  @apply no-underline font-bold block p-2 text-teal-500 hover:bg-teal-100 hover:text-black dark:text-white rounded-lg dark:hover:bg-violet-200 dark:hover:text-black;
}
.router-link-active {
  @apply focus:bg-teal-100 text-black  dark:bg-violet-200 dark:text-black;
}
