<h2 class="text-center">Your Orders</h2>
<p-table [value]="orderHistoryList">
  <ng-template pTemplate="header">
    <tr>
      <th>Order Tracking Number</th>
      <th pSortableColumn="totalPrice">
        Total Price <p-sortIcon field="totalQuantity"></p-sortIcon>
      </th>
      <th>Total Quantity</th>
      <th pSortableColumn="dateCreated">
        Date <p-sortIcon field="dateCreated"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tempOrderHistory>
    <tr>
      <td>{{ tempOrderHistory.orderTrackingNumber }}</td>
      <td>{{ tempOrderHistory.totalPrice }}</td>
      <td>{{ tempOrderHistory.totalQuantity }}</td>
      <td>{{ tempOrderHistory.dateCreated | date }}</td>
    </tr>
    <!-- Old Block -->
    <!-- <tr *ngFor="let tempOrderHistory of orderHistoryList">
      <td>{{ tempOrderHistory.orderTrackingNumber }}</td>
      <td>{{ tempOrderHistory.totalPrice }}</td>
      <td>{{ tempOrderHistory.totalQuantity }}</td>
      <td>{{ tempOrderHistory.dateCreated | date }}</td>
    </tr> -->
  </ng-template>
</p-table>
<div *ngIf="!orderHistoryList.length">No Orders Found.</div>
<p-paginator
  (onPageChange)="getRemainingOrders($event)"
  [rows]="thePageSize"
  [totalRecords]="theTotalElements"
  [rowsPerPageOptions]="[2, 5, 10, 20]"
></p-paginator>
